#SectionLittleLemon{
    background-color: #495E57;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 18vw;
    padding-right: 10vw;
    padding-left: 10vw;
}

#SectionLittleLemon h1{
    font-size: 64px;
    font-weight: 500;
    font-family: 'Markazi Text';
    color: #F4CE14;
    padding-top: 15px;
}

#SectionLittleLemon h2{
    color: #EDEFEE;
    font-family: 'Markazi Text';
    font-size: 40px;
    font-weight: 400;
    padding-top: 10px;
}

#SectionLittleLemon p{
    color: #EDEFEE;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}

#SectionLittleLemon img{
    max-width: 238px;
    height: 100%;
}

@media screen and (max-width: 600px) {
    #SectionLittleLemon{
        background-color: #495E57;
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 2vw;
        padding-right: 2vw;
        padding-left: 2vw;
    }
    #SectionLittleLemon h1{
        font-size: 35px;
        text-align: center;
        padding-top: 5px;
    }
    #SectionLittleLemon h2{
        font-size: 25px;
        text-align: center;
        padding-top: 5px;
    }
    #SectionLittleLemon p{
        color: #EDEFEE;
        font-family: 'Karla';
        font-size: 13px;
        padding-top: 5px;
        padding-left: 6px;
    }
    #Btn{
       margin-left: 10%;
       width: 80%;
    }
}