footer{
    width: 100vw;
    background-color:  #495E57;
    height: 14vh;
    position: fixed;
    bottom: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: grid;
    grid-template-columns: 20vw 70vw;
    column-gap: 10vw;
    color: #F4CE14;
    font-family: 'Karla';
  }
  
  #ContainerFooter{
    display: grid;
    grid-template-columns: 40% 25% 25%;
    column-gap: 5%;
    align-items: center;
  }

  #ContainerFooter #FooterNav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 10vh;
    width: 15vw;
    justify-content: space-around;
    align-items: center;
  }
  
  footer ul{
    list-style: none;
  }

  footer h5{
    font-size: 18px;
  }
  
  footer img{
    background-color: white;
    padding: 3px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
  }

 .Link{
    cursor: pointer;
    transition: .3s;
  }

  .Link:hover{
    font-weight: 700;
    color: #EE9972;
  }


  @media screen and (max-width: 600px) {
    footer{
      width: 100vw;
      height: 10vh;
      display: grid;
      grid-template-columns: 50% 50%;
      padding-left: 30px;
      padding-right: 30px;
    }
    #MenuGrid{
      justify-self: end;
      margin-right: 40px;
    }
    #LogoFooter{
      justify-self: start;
    }
    
    #ContainerFooter{
      display: none;
    }

    #ContainerFooter.Active{
      display: grid;
      grid-template-columns: 30% 30% 30%;
      column-gap: 5%;
      align-items: center;
      position: absolute;
      bottom: 10vh;
      padding: 5px;
      background-color: #495E57;
      width: 100vw;
      height: 20vh;
    }

    #ContainerFooter.Active #FooterNav{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 38vw;
      justify-content: space-around;
      align-items: center;
    }
    li{
      padding: 3px;
      font-size: 12px;
      text-align: center;
    }
    footer h5{
      font-size: 13px;
      text-align: center;
      margin-bottom: 5px;
    }
  }