#SectionLittleLemon{
    background-color: #495E57;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 18vw;
    padding-right: 10vw;
    padding-left: 10vw;
}

#SectionLittleLemon h1{
    font-size: 64px;
    font-weight: bolder;
    color: #F4CE14;
    padding-top: 15px;
}

#SectionLittleLemon h2{
    color: #EDEFEE;
    font-size: 40px;
    font-weight: 400;
    padding-top: 10px;
}

#SectionLittleLemon p{
    color: #EDEFEE;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}

#SectionLittleLemon img{
    align-self: center;
    max-width: 238px;
}

#WeeksHighlights{
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    justify-content: space-between;
    margin: auto;
    background-color: #EDEFEE;
    padding-bottom: 25px;
}
.TiTleSection{
    grid-column: 1/span3;
    justify-self: center;
    padding: 20px;
    font-size: 64px;
    font-weight: 500;
    color: #495E57;
    margin-bottom: 20px;
}

#Testemonials{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    justify-content: space-between;
    margin: auto;
}

#Testemonials .TiTleSection{
    grid-column: 1/span4;
    justify-self: center;
    padding: 20px;
    font-size: 64px;
    font-weight: 500;
    color: #495E57;
    margin-bottom: 20px;
}


#AboutLittleLemon{
    max-width: 80vw;
    display: grid;
    grid-template-columns: 30vw 30vw;
    column-gap: 10vw;
    padding-right: 10vw;
    padding-left: 10vw;

}

#AboutLittleLemon.TiTleSection{
    grid-column: 1/span2;
}

#AboutLittleLemon article{
    justify-self: center;
    padding-top: 20px;
}


#AboutLittleLemonFoto{
    margin: 0px 10vw 20vh 10vw;
}